
header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0px;
    box-shadow: 5px 0px 5px rgba(128, 128, 128, 0.645);
}

header > img {
    width: 45px;
}
header > h2{
    font-weight: 500;
}