
form{
    width: fit-content;
    margin: 20px auto;
}

.input_Section > input {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 10px;
}

.input_Section > button{
    background-color: black;
    color: rgba(255, 255, 255, 0.944);
    padding: 8px 12px;
    border-radius: 5px;
}

.input_Section > button::before{
    content: '+';
    margin-right: 5px;
}

.ingredientList_Section{
    margin-top: 20px;
}

.ingredientList_Section > ul > li{
    font-weight: 400;
    line-height: .5;
    margin: 20px 0px 0px 40px;
}


.getRecipe_Section{
    display: flex;
    align-items: center;
    margin-top: 80px;
    padding: 30px 25px;
    border-radius: 10px;
    background-color: rgb(238,237,233);
}
.getRecipe_Section > div > h3{
    font-weight: 500;
}
.getRecipe_Section > div > p{
    font-weight: 300;
    font-size: 14px;
    margin-top: 20px;
    width: 200px;
}
.getRecipe_Section > button{
    height: 45px;
    width: 100px;
    background-color: rgb(199,104,77);
    color: white;
    border: none;
    border-radius: 5px;
}