*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: gray;
}

#root{
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    width: fit-content;
    margin: 100px auto;
}

.container{
    border-radius: 15px;
    box-shadow: 0px 0px 5px gray;
    overflow: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(246,78,80);

    font-size: 14px;
    color: white;
    gap: 5px;
}

header img{
    width: 40px;
}

main{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: scroll;
    max-height: 550px;
}

.content-container img{
    width: 150px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.content-container{
    display: flex;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 22px;
    max-width: 400px;
    min-width: none ;
}

.location{
    display: flex;
    align-items: center;
}
.location img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
.location p {
    font-weight: bold;
    margin-right: 15px;
    letter-spacing: 1px;
}
.location a{
    color: gray;
    font-size: 12px;
}

.content h3{
    font-size: 24px;
    font-weight: bolder;
}
.date{
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -.5px;
}